<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Floor spaces available</title>
      <meta name="description" content="Floor spaces">
      <meta name="author" content="Floorspace pvt.ltd">
<!--      <link href="css/bootstrap.min.css" rel="stylesheet">-->
<!--      <link href="css/style.css" rel="stylesheet">-->
   </head>
   <body>

  <div id="cityFilters">
    <label for="cityFilters">Choose your city</label>
    <select id="cities" name="cities" onchange="leaveChange()">
      <option value="AMARAVATHI">AMARAVATHI</option>
      <option value="BANGALORE">BANGALORE</option>
       <option value="HYDERABAD">HYDERABAD</option>
    </select>
  </div>

  <div id="constructionTypeFilters">
    <label for="constructionTypeFilters">Choose consrtruction type</label>
    <select id="constructionTypes" name="constructionTypes" onchange="leaveChange()">
      <option value="FLOOR_HOUSE_CONSTRUCTION">FLOOR_HOUSE_CONSTRUCTION</option>
      <option value="STANDALONE_BUILDING_CONSTRUCTION">STANDALONE_BUILDING_CONSTRUCTION</option>
       <option value="APARTMENT_CONSTRUCTION">APARTMENT_CONSTRUCTION</option>
    </select>
  </div>
<div id="languageFilters">
    <label for="languageFilters">Choose language of lender</label>
    <select id="languages" name="languages" onchange="leaveChange()">
      <option value="ENGLISH">ENGLISH</option>
      <option value="HINDI">HINDI</option>
       <option value="TELUGU">TELUGU</option>
       <option value="KANNADA">KANNADA</option>
    </select>
  </div>


      <div id="root"></div>
     <!--  <div class="list_of_floorspaces_div">
          <div class="cowork_col-9">
                <div class="title_sort clearfix" id="coworkh1">
                      <h1>Floor spaces available in your city</h1>
                </div>
          </div>
          <div class="cowork_tile_detail" style="width:500px;height:200px;border:2px solid #000";>

      </div> -->

<!--      <script src="src/js/jquery.min.js"></script>-->
<!--      <script src="src/js/bootstrap.min.js"></script>-->
<!--      <script src="scripts.js"></script>-->
  </body>
</html>