<html lang="en">
<head>
    <link href="static/main.css" rel="stylesheet" type="text/css" media="all">
</head>
    <div class="box">
		<h1>Enter otp</h1>

        <form action="/pay" method="post">
        	<input type="text" name="otp"  id="otp" placeholder="100"/>
        	<input type="submit" class="button" value="ok" formaction="/user" formmethod="post"/>
        </form>

		</div>
        
</body>
</html>

<script>
function myFunction() {
    document.getElementById("upiId").value = document.getElementById("mySelect").value;
}
</script>