<html lang="en">
<head>
    <link href="static/main.css" rel="stylesheet" type="text/css" media="all">
</head>
    <body>
      <div class="box">
  			<h1>Sign up</h1>
  			<form action="/signupscreen" method="post">
    			<input type="text" name="username" id="username" placeholder="Username" required/>
    			<br>
    			<input type="password" name="password" id="password" placeholder="Password" required/>
          <br>
          <input type="radio" name="usertype" value="user" checked>User<br>
          <input type="radio" name="usertype" value="merchant">Merchant<br>
          <input type="submit" class="button" value="Sign up"/><br>
          <h1> </h1>
          <br>
        </form>
        
        </div>
        
        <h3> {{ error }}</h3>
    
</body>
</html>